{% extends "store/base.html" %}
{% load static %}

{% block title %}Admin Login{% endblock %}

{% block content %}

<h2 style="text-align:center; color:#FFB3E6; margin-top:30px;">Admin Login</h2>

<div style="
    width:350px;
    margin:30px auto;
    padding:25px;
    background:rgba(40,15,55,0.85);
    border-radius:15px;
    border:2px solid #FF8AD4;
    color:white;
">

    <!-- ERROR MESSAGE BOX -->
    {% if messages %}
        <div style="margin-bottom:15px;">
            {% for message in messages %}
                <div style="
                    background:#ff3b6b;
                    padding:10px;
                    border-radius:8px;
                    color:white;
                    font-weight:bold;
                    text-align:center;
                    border:1px solid #ff89a7;
                    margin-bottom:5px;
                ">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <label>Username</label><br>
        <input type="text" name="username" required
               style="width:100%; padding:12px; border-radius:8px;
               margin-bottom:12px; border:1px solid #FF8AD4; background:#2b1038; color:white;">

        <label>Password</label><br>
        <input type="password" name="password" required
               style="width:100%; padding:12px; border-radius:8px;
               margin-bottom:20px; border:1px solid #FF8AD4; background:#2b1038; color:white;">

        <button type="submit"
                style="width:100%; padding:12px; background:#FF8AD4;
                color:#3A0033; border:none; border-radius:10px; font-weight:bold;">
            Login
        </button>

    </form>
</div>

{% endblock %}
