{% extends "store/base.html" %}
{% load static %}

{% block title %}Register - Kyūtakuh's Cafē{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Register</h2>

    {% if messages %}
        {% for message in messages %}
            <p style="color: #FF8AD4;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <label>Username</label>
        <input type="text" name="username" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password1" required>

        <label>Confirm Password</label>
        <input type="password" name="password2" required>

        <button type="submit" class="btn">Register</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
</div>
{% endblock %}
